<!DOCTYPE html>
<html>
<head>
  <title>Koa Passport Demo</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
    <h1>React Koa Demo | Connexion</h1>
    <form class="form" role="form" action="/login" method="post">
      <div >
        <label for="input-username">Username</label>
        <input id="input-username" type="text" placeholder="connexion" name="username">
      </div>
      <div>
        <label for="input-password">Password</label>
        <input id="input-password" type="password" placeholder="password" name="password">
      </div>
      <button type="submit">Connexion</button>
    </form>
  </div>
</body>
</html>
